$dark-pink: #ba4270;
$link-white: #fbfcfe;
$san-juan-blue: #36536b;
$mirage-blue: #1b262f;
$charm-pink: #da6d97;
$light-san-juan-blue: #6C8294;
$section-bg: #edf3f8;


$font-size-small: 15px;
$font-size-minmedium: 18px;
$font-size-bigmedium: 32px;
$font-size-large: 48px;

$font-family-serif: "DM Serif Display" , serif