/* HEADER */
.header {
  padding-top: 40px;
  padding-bottom: 20px;
}

.header__inner {
  @include flex(center, space-between);
}

.header__left {
  @include flex(center, space-between)
}

.header__burger-btn {
  display: none;
  background-color: transparent;
  border: none;
}
.header__burger-img {
  width: 28px;
  height: 17px;
}

@include breakpoint-down(768px) {
  .header {
    padding-bottom: 0;
  }
}

@include breakpoint-down(680px) {
  .header__burger-btn {
    display: block;
  }
}

