/* NAVBAR */
.navbar {
  margin-left: 64px;
}

.navbar__navlist {
  @include flex(center, space-between);
  @include list-no-style;
  gap: 40px;
}

.navbar__link {
  font-size: $font-size-small;
  line-height: 18px;
  font-weight: 700;
  text-decoration: none;
  color: $san-juan-blue;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  &:hover {
    opacity: 0.9;
  }
  &:active {
    opacity: 1;
  }
}



@include breakpoint-down(680px) {
  .navbar {
    display: none;
  }
}