/* SIMPLE UI */
.simple {
  padding: 140px 0;
  background-image: url("../img/body-bg.png");
  background-repeat: no-repeat;
  background-size: 780px;
  background-position: calc(50% + 730px);
}

.simple__inner {
  @include flex(center, space-between)
}

.simple__content {
  max-width: 445px
}

.simple__heading {
  font-family: $font-family-serif;
  font-size: $font-size-large;
  line-height: 56px;
  font-weight: 400;
  letter-spacing: -0.37px;
  color: $san-juan-blue;
  margin: 0;
  margin-bottom: 24px;
}

.simple__text {
  font-size: $font-size-small;
  line-height: 28px;
  color: $light-san-juan-blue;
  margin: 0;
}

.simple__images {
  @include list-no-style;
  @include flex(center, space-between);
  gap: 40px;
}

.simple__img {
  border-radius: 35px;
  box-shadow: 25px 25px 80px rgba(54, 83, 107, 0.300727);
}


@include breakpoint-down(1050px) {
  .simple {
    padding: 120px 0;
    background-image: none;
  }

  .simple__inner {
    flex-direction: column-reverse;
  }

  .simple__content {
    max-width: 573px;
    text-align: center;
  }

  .simple__images {
    margin-bottom: 48px;
  }
}


@include breakpoint-down(768px) {
  .simple {
    padding: 100px 0;
  }

  .simple__img {
    width: 168px;
    height: 320px;
    border-radius: 25px;
  }
}

@include breakpoint-down(575px) {
  .simple__heading {
    font-size: 40px;
    line-height: 48px;
  }
}

@include breakpoint-down(425px) {
  .simple__heading {
    font-size: 36px;
    line-height: 36px;
    letter-spacing: -0.28px;
  }

  .simple__img {
    width: 152px;
    height: 290px;
    border-radius: 25px;
  }
}

@include breakpoint-down(370px) {
  .simple {
    padding: 80px 0;
  }
  .simple__images {
    gap: 25px;
  }
  .simple__img {
    width: 130px;
    height: 100%;
    border-radius: 18px;
  }
}